@import './fontfaces/gothampro.css';
@import './fontfaces/sourcesanspro.css';
@import './fontfaces/consolas.css';
@import './fontfaces/luminari.css';
@import './fontfaces/generalsans.css';
@import './fontfaces/cabinetgrotesk.css';
@import './fontfaces/stardom.css';


body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  user-select: text;
}

/* define height for wrapper's parent div */
div#root {
  height: 100%;
}

/* Hide scrollbar for all browsers */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

// Tinder cards
.tinderCard {
  grid-area: card;
  width: 350px; /* Need a specific value to work */
  z-index: 0;
  // border-radius: 4;
}
.tinderCards {
  user-select: none;
  cursor: grab;
  z-index: 1;
}

// Giscus
giscus-widget::part(iframe) {
  min-height: 250px; // If comment section deactivated, reactions will overflow. 190px without signin, 250px with signin 
}